  body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 139, 25);
    height: 200px;
  }

  .dalem{
    box-shadow: 0 10px 20px rgba(0,0,0,0.7);
    background-color: white;
    padding: 30px;
    margin-top: 90px;
  }

  .dalem h1{
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .form-control{
    font-family: 'Titillium Web', sans-serif;    
  }
