.jumbotron{
    background-size: cover;
    background-image: url(../img/Jumbot.jpg);
    height: 427px;
  
}

.jumbotron .display-4{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 51px;
    margin-top: 7px;
    color: white;
    text-shadow: 5px 3px 5px rgba(0,0,0,0.8);
}

.jumbotron .lead{
    font-family: 'Ramabhadra', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 28px;
    text-shadow: 5px 3px 5px rgba(0,0,0,0.8);
}




.navbar {
    background-color: white!important;
}

.navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=black');
    }

.navbar-brand{
    font-family: 'Carter One', cursive;
    font-size: 20px;
    margin-left: 12px;
}

.navbar-nav{
    font-family: 'Ramabhadra', sans-serif;
    margin-top: -4px;
}

.user{
    color: black!important;
    margin-right: 30px;
}

.shopping{
    color: black!important;
    margin-right: 27px;
}

.tentang{
    margin-top: 52px;
    
}


.tentang p{
    font-family: 'Titillium Web', sans-serif;    
      
}

.tentang h1{
    font-family: 'Ramabhadra', sans-serif;
    font-size: 32px;
    margin-bottom: -1px;
    
}


 
.kategori h1{
    font-family: 'Ramabhadra', sans-serif;
    font-size: 21px;
    margin-top: 14px;
}

.btt{
    position: fixed;
    width: 40px;
    background:rgb(22, 21, 21);
    bottom:12px;
    z-index: 9998;
    right:12px;
    box-shadow: 0px 3px 3px#575757;    
    border-radius: 12px;
}

.btt i{
    color:white;
    font-size:42px;
    padding:6px;
}






.contact{
    position: fixed;
    width: 39px;
    background: rgb(4, 211, 39);
    bottom:157px;
    z-index:9998;
    box-shadow: 0px 0px 0px#575757;    
}

.contact i{
    color:white;
    font-size:30px;
    padding:6px;
}

.produk{
    min-height: 2190px;
}

.produk h1{
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 84px;
    margin-bottom: 32px;
    font-size: 32px;
}

.card .card-img-top{
    height: 350px;
}

.footer{
    background-color: black;
    min-height: 43px;
}

.footer p{
    color:white;
    margin-top: 11px;
}

.lokasi h1{
    font-family: 'Ramabhadra', sans-serif;
    margin-top: -119px;
    font-size: 32px;
}

.lokasi .embed-responsive{
    margin-top: -49px;
}

.lokasi{
    min-height: 170px;
}



@media (min-width: 992px){
    .jumbotron{
        margin-top: 15px;
        height: 410px;
       
    }

    .jumbotron .display-4{
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 92px;
        color: black;
        text-shadow: 0px 5px 0px rgba(0,0,0,0.8);
    }

    .jumbotron .lead{
        font-family: 'Ramabhadra', sans-serif;
        font-size: 27px;
        color: white;
        margin-top: 28px;
    }

    
    .user{
        color: black!important;
        margin-right:40px;
    }

    .nav-link:hover::after{
		content: "";
		display: block;
		border-bottom:3px solid rgb(119, 58, 8);
		width: 80%;
		margin:auto;
		padding-bottom:5px;
		margin-bottom: -8px;
}

    .navbar-brand{
        font-family: 'Carter One', cursive;
        font-size: 24px;
        margin-left: 58px;
    }

    .navbar-nav{
       font-family: 'Ramabhadra', sans-serif;
       justify-content: center;
       margin-left: 39px;
        
    }

    .nav-link{
        font-family: 'Ramabhadra', sans-serif;
        margin-left: 10px;
    }

    
    .shopping{
        color: black!important;
        margin-right: 100px;
    }
  
    .tentang {
        margin-top: 84px;
    }

    .produk h1{
        font-family: 'Ramabhadra', sans-serif;
        margin-top: 84px;
        margin-bottom: 50px;
        font-size: 32px;
    }

    .card .card-img-top{
        height: 520px;
        
    }

    .produk{
        min-height: 1790px;
    }

    .lokasi h1{
        font-family: 'Ramabhadra', sans-serif;
        margin-top: -254px;
        font-size: 32px;
    }

    .lokasi .embed-responsive{
        margin-top: -150px;
    }

    .lokasi{
        min-height: 618px;
    }


}
